.done-section {
    display: flex;
    flex-direction: column;
    place-items: center center;
}

.done-section .image-container {
    position: relative;
    width: 600px;
}
.done-section .image-container img {
    width: 100%;
}
.done-section .image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;

    background: linear-gradient(to bottom, transparent, #ffffff);
}