.main {
  display: flex;
  place-items: center center;
  gap: 40px;
}

.main .avatar-container {
  width: 270px;
  z-index: 1;
}

.main .avatar-container img {
  width: 100%;
}

.main .about-box {
  background-color: var(--bg-side-color);
  color: var(--text-main-color);
  width: 400px;
  height: 300px;
  padding: 1rem;
  overflow-y: scroll
}

.main .about-box .call {
  font-family: var(--font-header);
}

.main .about-box .accordion-header .accordion-button {
  background-color: var(--bg-main-color);
  color: var(--primary-color);
}

.main .about-box .accordion-body {
  color: var(--text-side-color);
  background-color: var(--bg-highlight-color);

  text-shadow: 1px 1px 4px var(--primary-color);
}

.main .templates-button {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.main .template-box-container {
  position: relative;
  width: 80px;
  height: 120px;
  margin-bottom: 20px;
}

.main .template-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(135deg, #ff7800, #ffb74d);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.main .box-center {
  z-index: 2;
  opacity: 1;
}

.main .box-left,
.main .box-right {
  opacity: 0.6;
}

.main .box-left {
  left: 0;
  transform: translateX(0) rotate(0deg);
}

.main .box-right {
  right: 0;
  transform: translateX(0) rotate(0deg);
}

.main .templates-button:hover .box-left,
.main .templates-button:active .box-left,
.main .templates-button:focus .box-left {
  transform: translate(-35%, 5px) rotate(-20deg);
  opacity: 0.4;
}

.main .templates-button:hover .box-right,
.main .templates-button:active .box-right,
.main .templates-button:focus .box-right {
  transform: translate(35%, 5px) rotate(20deg);
  opacity: 0.4;
}

.main .templates-button span {
  margin-top: 0.75rem;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease;
}

.main .templates-button:hover span,
.main .templates-button:active span,
.main .templates-button:focus span {
  color: #ff7800;
}

@media (max-width: 960px) {
  .main {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .main .avatar-container {
    width: 200px;
  }
}
@media (max-width: 460px) {
  .main .about-box {
    width: auto;
    height: auto;
    margin: 0 10px;

    overflow-y: auto;
  }
}