.templates-section {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center center;

    color: var(--text-main-color);
}

.templates-section .return-button {
    position: fixed;
    top: 10px;
    left: 10px;
}

.templates-section .templates-avatar-bg-container {
    position: relative;
    width: 500px;
}

.templates-section .templates-avatar-bg-container img {
    width: 100%;
}

.templates-container {
    display: flex;
    gap: 20px;

    position: absolute;

    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}

.template-card {
    width: 100px;
    height: 150px;
    padding: 2px;

    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.template-card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.template-card:hover,
.template-card:active,
.template-card:focus {
    padding: 0;
    cursor: pointer;
    transform: translateY(-10px) scale(120%);

    opacity: 1;
    z-index: 2;
}

@media (max-width: 570px) {
    .templates-section .templates-avatar-bg-container {
        width: 320px;
        margin-bottom: 10px;
    }
    .templates-section h1 {
        font-size: x-large;
    }

    .templates-container {
        gap: 10px;
        bottom: -5px;
    }

    .template-card {
        width: 80px;
        height: 115px;
        padding: 2px;

        opacity: 0.5;
        transition: all 0.2s ease-in-out;
    }
}
@media (max-width: 390px) {
    #root {
        padding: 4px;
    }
    .templates-section .templates-avatar-bg-container {
        width: 300px;
        margin-bottom: 10px;
    }
}